html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: cursive;
}

.posts {
  background-color: rgb(226, 225, 224);
  padding: 30px 0px;
  display: flex;
  height: 100%;
}
.header {
  text-align: center;
  background-color: white;
}
.one {
  background-color: white;
  width: 600px;
  margin: 0px auto;
  border-radius: 5px;
  box-shadow: 5px 5px 25px;
  
}
.one p {
  padding: 10px 0px;
  margin: 0;
}
span {
  float: right;
}
.one img {
  padding: 5px 0px;
  height: 400px;
  width: 100%;
}
.empty{
  width: 500px;
  height: 600px;
  background-color: black;
  margin:0px auto;
}
.description{
  padding: 10px ;
}
.heading{
  padding: 10px 10px;
  font-size: 15pt;

}
.heading span{
  color: rgb(185, 181, 181);
  font-size: 14pt;
  vertical-align: middle;
}
